# .flake8
[flake8]

max-line-length = 100

# Отключаем проверку докстрингов по D1xx
extend-ignore =
    D100,
    D101,
    D102,
    D103,
    D104
exclude =
    assistant_pb2.py
    .venv,
    __pycache__,
    src/tts_grpc_service/grpc/audio_service_pb2.py
    src/tts_grpc_service/grpc/audio_service_pb2_grpc.py,
    tz2-telegram-echo/**
per-file-ignores =
    **/__init__.py: D104
    tests/**/*.py: D
