# .flake8
[flake8]
max-line-length = 88

# Отключаем проверку докстрингов по D1xx
extend-ignore =
    D100,
    D101,
    D102,
    D103,
    D104
exclude =
    .venv,
    __pycache__,
    server/audio_service_pb2.py,
    server/audio_service_pb2_grpc.py,
    tz2-telegram-echo/**
per-file-ignores =
    **/__init__.py: D104
    tests/**/*.py: D
