# Python bytecode, caches
__pycache__/
*.py[cod]
*$py.class

# pytest cache
.pytest_cache/

openapi.json

# сборочные артефакты, пакеты
build/
dist/
*.egg-info/
pip-wheel-metadata/

# файлы окружения
.env
.env.*

# IDE / редакторы
.vscode/
.idea/
*.swp

# macOS
.DS_Store
