APP_ID=                # из https://my.telegram.org/apps
API_HASH=              # из https://my.telegram.org/apps
PHONE=          # ваш номер в формате +71234567890
SESSION_NAME=echo      # имя сессии (файл echo.session)
TWO_FA_PASSWORD=       # пароль 2FA, если включён
